<mat-card>Adicionar Novo Produto</mat-card>
<form class="example-container" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label class="font">Produto</mat-label>
      <input  matInput class="form-control" [ngClass]="{ 'is-invalid': submitted && hasError('produto')}" formContralName="produto" type="text" id="produto">
      <mat-error *ngIf="hasError('produto') && hasError('produto')['required']">Por favor informe um nome pata o produto.</mat-error> 
      <mat-error *ngIf="hasError('produto') && hasError('produto')['minlength']">O produto precisa ter no mínimo {{ hasError('produto')['minlength'].requiredLength }} caracteres.</mat-error> 
      <mat-error *ngIf="hasError('produto') && hasError('produto')['maxlength']">O produto precisa ter no máximo {{ hasError('nome')['maxlength'].requiredLength }} caracteres.</mat-error> 
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label class="font">Qtd.</mat-label>
      <input matInput type="number" [ngClass]="{ 'is-invalid': submitted && hasError('quantidades')}" formContralName="quantidades" class="form-control">
      <mat-error *ngIf="hasError('quantidades') && hasError('quantidades')['min']">mínimo 1 .</mat-error>
    </mat-form-field><br>
    <div id="buttons">
        <button mat-raised-button style="margin-right:10px;" (click)="onSubmit()" color="primary" type="submit" routerLink="/lista">Salvar</button>
        <button mat-raised-button color="warn"  type="button"  routerLink="/lista">Cancelar</button>
    </div>
  </form>