<mat-card>Adicionar Novo Produto</mat-card>
<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label class="font">Produto</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label class="font">Qtd.</mat-label>
      <input matInput type="number">
    </mat-form-field><br>
    <div id="buttons">
        <button mat-raised-button style="margin-right:10px;" color="primary">Salvar</button>
        <button mat-raised-button color="warn">Cancelar</button>
    </div>
  </div>