<mat-form-field id="filter">
  <input id="filter" (keyup)="applyFilter($event.target.value)" matInput placeholder="filtrar">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container style="width: 30%;" matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
      <td mat-cell *matCellDef="let produto"> {{produto.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let produto"> {{produto.nome}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="quantidades">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Qtd </th>
      <td mat-cell *matCellDef="let produto"> {{produto.quantidades}} </td>
    </ng-container>

    <ng-container matColumnDef="button">

      <th mat-header-cell *matHeaderCellDef>
        <button mat-mini-fab id="buttons" routerLink="/produto" color="accent"
          aria-label="Example icon button with a plus one icon">
          <mat-icon>plus_one</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let produto">
        <button mat-button id="buttons" color="primary">Editar</button>
        <button mat-button color="warn">Apagar</button>
      </td>
      
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>