<div class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Usuário</mat-label>
      <input  id="usuario" [(ngModel)]="usuario.nome" matInput placeholder="Ex. Daniel">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Senha</mat-label>
      <input  id="senha" [(ngModel)]="usuario.senha" matInput type="password">
    </mat-form-field>
    <button mat-raised-button color="warn" (click)="fazerLogin()" type="submit">Entrar</button>
  </div>
  